
Fap_Project/obj/Debug/Fap_Project.csprojAssemblyReference.cache
Fap_Project/.vs/Fap_Project/v16/Server/sqlite3/storage.ide-wal
Fap_Project/.vs/Fap_Project/v16/Server/sqlite3/storage.ide-shm
Fap_Project/.vs/Fap_Project/v16/.suo
Fap_Project/bin/Fap_Project.dll
Fap_Project/bin/Fap_Project.dll.config
Fap_Project/bin/Fap_Project.pdb
Fap_Project/Fap_Project.csproj
Fap_Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Fap_Project/obj/Debug/Fap_Project.csprojAssemblyReference.cache
Fap_Project/obj/Debug/Fap_Project.dll
Fap_Project/obj/Debug/Fap_Project.pdb
Fap_Project/Web.config
