
FAP_Project/.vs/FAP_Project/v16/.suo
FAP_Project/.vs/FAP_Project/v16/Server/sqlite3/db.lock
FAP_Project/.vs/FAP_Project/v16/Server/sqlite3/storage.ide
FAP_Project/.vs/FAP_Project/v16/Server/sqlite3/storage.ide-shm
FAP_Project/.vs/FAP_Project/v16/Server/sqlite3/storage.ide-wal
FAP_Project/obj/Debug/FAP_Project.csprojAssemblyReference.cache
*.config
*.cache
*.dll
*.pdb
FAP_Project/bin/roslyn/csc.rsp
FAP_Project/bin/roslyn/csc.exe
FAP_Project/bin/roslyn/csi.exe
FAP_Project/bin/roslyn/csi.rsp
FAP_Project/bin/roslyn/Microsoft.CSharp.Core.targets
FAP_Project/bin/roslyn/Microsoft.VisualBasic.Core.targets
FAP_Project/bin/roslyn/vbc.exe
FAP_Project/bin/roslyn/vbc.rsp
FAP_Project/bin/roslyn/VBCSCompiler.exe
FAP_Project/obj/Debug/FAP_Project.csproj.FileListAbsolute.txt
FAP_Project/obj/Debug/FAP_Project.csproj.CopyComplete
FAP_Project/obj/Debug/FAP_Project.csprojAssemblyReference.cache
